
<%- row.start() %>

<%- column.start(12) %>
<%- include partials/idiotpanel.ejs %>
<%- column.end() %>

<%- row.end() %>


<%- row.start() %>

<%- column.start(6) %>
<%- include partials/meterpanel.ejs %>
<%- column.end() %>

<%- column.start(6) %>
<%- include partials/outputpanel.ejs %>
<%- column.end() %>

<%- row.end() %>


<!-- 

<%- row.start() %>




<%- panel.open(1) %>
<%- panel.row( panel.label('Label'),panel.text('text')) %>


<%- panel.row( panel.label('LEDs'), panel.led(['Led1', 'red', 'on'])) %>

<%- panel.close() %>


<div class='panel'>
    <div class='inner'>

    </div>

</div>


<div class='panel padded'>
    <div class='inner'>
<p>Panel padded inner</p>
    </div>

</div>

<%- row.end() %>
<%- row.start() %>

<%- box.start( {title: 'Box1', icon: 'gear', span: 6}) %>

<div class='padded panel'>
    <div class='inner-well'>
       <%- row.start() %>
        <div class='panel-cell panel-label span6'>Label
        </div>
        <div class='panel-cell panel-text span6'>Text
        </div>
        <%- row.end() %>
       
     </div>
     
     <div class='inner-well'>
       <%- row.start() %>
        <div class="status-row"><h4 class="red"><span>Title</span>Value</h4>Detail</div>
        <%- row.end() %>
       
     </div>
     
     
     
</div>

<div class='span6 padded'>
    <div class='inner-well'>
        <p>Well...</p>
     </div>
</div>

<%- box.end() %>

<%- row.end() %>

-->

<%- row.start() %>

<%- row.end() %>

<!--

<%- row.start() %>

<%- box.start( 'Hello Box!', {title: 'Box Title', icon: 'wrench'} ) %>
<i> More Text</i>
<%- box.end() %>

 
<% row.end() %>

 -->
  